.why-invest-container {
  padding-top: 164px;
  .why-invest {
    padding: 0 15px;

    @include mediaTo($size480) {
      padding: 0 10px;
    }

    .sub-title {
      color: var(--Brand-500, #72bf44);
      text-align: center;
      /* Caption */
      font-family: "Mardoto";
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 171.429% */
      letter-spacing: 3.5px;
      text-transform: uppercase;
    }

    .title {
      @extend %titleFont;
      color: var(--Black, #000);
      text-align: center;
      letter-spacing: -1.84px;
    }

    ul {
      margin-top: 72px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 72px;
      @include mediaTo($size1366) {
        gap: 40px;
      }

      @include mediaTo($size768) {
        grid-template-columns: 1fr 1fr;
        gap: 16px;
      }

      @include mediaTo($size480) {
        grid-template-columns: 1fr;
      }

      li {
        max-width: 480px;
        border-radius: 16px;
        background: var(--Gray-WEB-UI-100, #f5f5f5);
        .invest-list-inner {
          padding: 40px;

          @include mediaTo($size1366) {
            padding: 24px;
          }
        }
      }

      .icon-block {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .action-line {
          width: 48px;
          height: 2px;
          margin-left: 10px;
          background: linear-gradient(
            90deg,
            #525252 0%,
            rgba(82, 82, 82, 0) 100%
          );
        }
        img {
          width: 40px;
          @include mediaTo($size1366) {
            width: 32px;
          }
        }
      }

      .benefit-title {
        color: #000;
        font-family: $medium;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        margin-top: 16px;

        @include mediaTo($size1366) {
          margin-top: 12px;
        }
      }

      .description {
        color: var(--Gray-WEB-UI-500, #737373);
        font-family: $regularMar;
        font-size: 16px;
        line-height: 26px;
        margin-top: 10px;

        @include mediaTo($size1366) {
          margin-top: 4px;
          line-height: 23px;
        }
      }
    }
  }
}
