@import "../../helpers/variables";
@import "../../helpers/mixins";
@import "../../helpers/extendsStart";

.main-top-banner {
  height: 892px;
  position: relative;
  overflow: hidden;
  background-color: black;
}

/* Pseudo element for the background image */
.main-top-banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/images/banner/main.png");
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1.2s ease-in-out; /* smooth fade */
  z-index: 0;
}

/* When loaded → fade in */
.main-top-banner.loaded::after {
  opacity: 1;
}

.main-top-banner {
  @include mediaTo($size960) {
    background-image: url("/images/banner/tablet.png");
  }

  @include mediaTo($size640) {
    background-image: url("/images/banner/mobile.png");
  }

  .left-bg {
    background: url("/images/left-back.png");
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    display: block;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
    transform: translateX(-20px); // optional: start slightly shifted
    @include mediaTo($size1440) {
      background-image: url("/images/home-left-back-1366.png");
    }

    @include mediaTo($size1366) {
      background-position-x: -100%;
    }

    @include mediaTo($size960) {
      background-image: url("/images/home-left-back-766.png");
      background-position-x: -150%;
    }

    @include mediaTo($size640) {
      background-image: url("/images/home-left-back-mobile.png");
    }
  }

  .right-bg {
    background-image: url("/images/right-back.png");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    top: 0;
    opacity: 0;
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
    transform: translateX(-20px); // optional: start slightly shifted
    @include mediaTo($size1440) {
      background-image: url("/images/home-right-back-1366.png");
    }
    @include mediaTo($size1366) {
      background-position-x: 200%;
    }

    @include mediaTo($size960) {
      background-position-x: 250%;
      background-image: url("/images/home-right-back-766.png");
    }
    @include mediaTo($size640) {
      background-image: url("/images/home-right-back-mobile.png");
    }
  }

  @include mediaTo($size768) {
    max-height: 800px;
  }

  @include mediaTo($size640) {
    max-height: 700px;
  }
}

.loaded {
  .invest-word {
    left: 0;
    opacity: 1;
    @include animStyle(all 1.2s);
  }
  .inner_title span:last-child {
    right: 0;
    opacity: 1;
    @include animStyle(all 1.2s);
  }
  .inner_title span:first-child {
    right: 0;
    opacity: 1;
    top: 0;
    @include animStyle(all 1.2s);
  }
  .top-description {
    bottom: 0;
    opacity: 1;
    @include animStyle(all 2s);
  }

  .left-bg {
    opacity: 1;
    transform: translateX(0);
  }

  .right-bg {
    opacity: 1;
    transform: translateX(0);
  }

  .left_img {
    transform: rotate(-10deg);
    left: 50px;
    // z-index: 999;
    @include animStyle(all 2s);
    opacity: 0.7;
    @include mediaTo($size1366) {
      max-width: 252px;
      left: 40px;
    }

    @include mediaTo($size768) {
      left: 120px;
      max-width: 181px;
      top: 20px;
    }

    @include mediaTo($size640) {
      position: absolute;
      left: -20px;
      top: 120px;
    }
  }

  .right_img {
    transform: rotate(10deg);
    right: 50px;
    // z-index: 999;
    @include animStyle(all 2s);
    opacity: 0.7;
    @include mediaTo($size1366) {
      transform: rotate(8deg);
      max-width: 252px;
      right: 40px;
    }

    @include mediaTo($size768) {
      max-width: 181px;
      top: 20px;
      right: 120px;
    }
    @include mediaTo($size640) {
      position: absolute;
      top: 120px;
      right: -20px;
    }
  }

  .center_img {
    @include animStyle(all 2s);
    top: 0;

    @include mediaTo($size1366) {
      max-width: 345px;
      width: 100%;
    }

    @include mediaTo($size768) {
      max-width: 271px;
      top: 30px;
    }
    @include mediaTo($size640) {
      top: 70px;
      position: absolute;
    }
  }
}

.top-inner {
  max-width: 615px;
  // margin: 20px auto 0;
  margin: 25px auto 0;
  color: white;
  text-align: center;
  font-size: 3rem;
  line-height: 3.5rem;
  position: relative;
  overflow: hidden;
  height: 100%;

  .inner-description {
    font-size: 1.7rem;
    line-height: 25px;
    color: rgba($white, 70%);
    opacity: 0.7;

    @include mediaTo($size1366) {
      font-size: 15px;
      line-height: 23px;
    }

    @include mediaTo($size768) {
      font-size: 14px;
      line-height: 22px;
    }
  }
}

.title_banner {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;
}

.invest-word {
  position: relative;
  left: -430px;
  opacity: 0;
  font-size: 60px;
  line-height: 72px;
  font-family: $semibold;

  @include mediaTo($size1366) {
    font-size: 50px;
    line-height: 58px;
  }

  @include mediaTo($size1366) {
    font-size: 50px;
    line-height: 58px;
  }

  @include mediaTo($size768) {
    font-size: 44px;
    line-height: 58px;
  }

  @include mediaTo($size640) {
    line-height: 32px;
    font-size: 32px;
  }
}

.inner_title {
  font-size: 60px;
  line-height: 72px;
  color: #72bf44;
  font-family: $semibold;
  span:last-child {
    position: relative;
    right: -430px;
    opacity: 0;
  }

  span:first-child {
    position: relative;
    right: -430px;
    top: 40px;
    opacity: 0;
  }

  @include mediaTo($size1366) {
    font-size: 50px;
    line-height: 58px;
  }

  @include mediaTo($size640) {
    line-height: 32px;
    font-size: 32px;
  }
}

.top-description {
  position: relative;
  bottom: -400px;
  opacity: 0;
    z-index: 1;
  @include mediaTo($size1366) {
    max-width: 537px;
    margin: 0 auto;
  }

  @include mediaTo($size768) {
    max-width: 570px;
  }

  @include mediaTo($size640) {
    padding: 0 15px;
  }
}

.description-btn {
  display: flex;
  align-items: center;
  color: #000000;
  background-color: #6dc719;
  font-size: 22px;
  border: none;
  border-radius: 12px;
  padding: 12px 16px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 600;
  transition: background 0.2s;
  margin: 35px auto;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;

  &:hover {
    background: #61a527;
  }

  .icon-arrow-right {
    padding-left: 12px;
  }

  @include mediaTo($size1366) {
    margin-top: 20px;
    margin-bottom: 15px;
  }
}

.inner_title {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto 20px;

  span:last-child {
    margin-left: 10px;
  }
}

.inner_section {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 0;
  right: 0;

  img {
    height: auto;
    width: 100%;
  }
}

.center_img {
  max-width: 486px;
  position: relative;
  z-index: 2;

  position: relative;
  top: -200px;
}

.right_img,
.left_img {
  max-width: 400px;
  width: 100%;
  z-index: 1;
  
  filter: blur(1px);
  @include mediaTo($size1280) {
    opacity: 0;
    max-width: 250px;
  }

  @include mediaTo($size896) {
    opacity: 0;
    max-width: 150px;
  }
}

.left_img {
  transform: rotate(0deg);
  left: 450px;
  position: relative;

  &:hover {
    transform: rotate(-15deg);
  }
}

.right_img {
  transform: rotate(0deg);
  backdrop-filter: blur(14.40000057220459px);
  right: 450px;
  position: relative;

  &:hover {
    transform: rotate(15deg);
  }
}

.loaded .dots-block {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
  pointer-events: none;
  img {
    mix-blend-mode: plus-lighter;
    z-index: 1;
    position: relative;
  }
}

.qr-modal {
  position: fixed;
  inset: 0;
  z-index: 999;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;

  &__overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(3px);
    opacity: 0;
    transition: opacity 0.8s ease;
  }
  &.opened {
    opacity: 1;
    pointer-events: auto;

    .qr-modal__overlay {
      opacity: 1;
    }

    .qr-modal__content {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }

  &__content {
    position: absolute;
    left: 50%;
    top: 50%;

    /* Start above center */
    transform: translate(-50%, -60%);
    opacity: 0;

    transition: transform 0.35s ease, opacity 0.35s ease;

    background: white;
    border-radius: 20px;
    width: 90%;
    max-width: 635px;
    padding: 40px 0 40px 40px;
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.2);
  }

  &__close {
    position: absolute;
    top: 18px;
    right: 18px;
    background: transparent;
    border: none;
    font-size: 32px;
    cursor: pointer;
    color: #777;
    transition: 0.2s;
    border-radius: 12px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: #000;
      background: #e5e5e5;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    gap: 32px;
    align-items: flex-start;
  }

  &__qr {
    border-radius: 14px;
    border: 3px solid #72bf44;
    max-width: 142px;
  }

  &__text {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 290px;
    h2 {
      font-family: $medium;
      font-size: 24px;
      line-height: 28px;
    }

    p {
      color: var(--Gray-WEB-UI-500, #737373);
      font-family: $regularMar;
      font-size: 18px;
      line-height: 24px;
      margin-top: 10px;
    }
  }

  &__store-buttons {
    display: flex;
    gap: 16px;
    margin-top: 28px;
  }
}

.store-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 17px 22px;
  /* border-radius: 12px; */
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  transition: 0.2s;
  border-radius: 57.857px;
  background: var(--Black, #000);
  &.apple {
    background: #000;
  }

  &.google {
    background: #2e7cf6;
  }

  &:hover {
    opacity: 0.85;
  }
}

@media (max-width: 600px) {
  .qr-modal__inner {
    flex-direction: column;
    text-align: center;
  }

  .qr-modal__qr {
    width: 150px;
  }
}

@import "../../imports/win/main";

@import "../../imports/why-invest/main";
@import "../../imports/faq/home-faq";
@import "../../imports/calculator/main";
@import "../../imports/how-to-buy/main";
@import "../../imports/academy/academy-home";
@import "../../imports/invest-easy-way/main";
@import "../../imports/be-partner/main";

@import "../../helpers/extendsEnd";
