

.main-top-banner {
  height: 892px;

  background: url("/images/left-back.png") left top no-repeat,
    url("/images/right-back.png") right top no-repeat;
  background-size: 50% 100%, 50% 100%; /* Each image takes half width */
  background-repeat: no-repeat;
  background-color: black;
}

.win-block {
  padding-top: 147px;


@import "./win.scss";
@import "./stock-bond.scss";



}

@import "./why-invest.scss";
