.win-block {
  padding-top: 147px;

  .win-container {
    padding: 0 15px;

    @include mediaTo($size960) {
      padding: 0 40px;
    }

    @include mediaTo($size640) {
      padding: 0 10px;
    }
  }

  .win-home-portfel {
    display: flex;
    align-items: center;
    gap: 56px;
    .card {
      border: 2px solid #dedede;
      border-radius: 20px;
      max-width: 1200px;
      background: #fff;
      box-sizing: border-box;
      overflow: hidden;
      transition: 0.2s;
      cursor: pointer;
      &:hover {
        background-color: #f5f5f5;
      }

      @include mediaTo($size1366) {
        max-width: 571px;
      }

      @include mediaTo($size960) {
        max-width: unset;
      }
      @include mediaTo($size640) {
      }
    }

    .card-content {
      display: flex;
      @include mediaTo($size640) {
        flex-direction: column;
      }
    }

    .card-left {
      flex: 1 1 0;
      width: 712px;
      padding: 48px 0 48px 48px;
      z-index: 9999;
      background: white;
      border-top-left-radius: 18px;
      border-bottom-left-radius: 18px;
      text-align: start;
      @include mediaTo($size1366) {
        padding: 32px 0 32px 32px;
        flex: 2 1 0;
      }
      @include mediaTo($size640) {
        padding: 24px 24px 10px 24px;
        flex: unset;
        width: auto;
      }
    }

    .card-label {
      font-family: $mediumMar;
      display: flex;
      align-items: center;
      color: #7cc24b;
      font-size: 14px;
      letter-spacing: 4px;
      line-height: 24px;
      margin-bottom: 16px;

      @include mediaTo($size1366) {
        font-size: 12px;
        letter-spacing: 3px;
        margin-bottom: 5px;
      }
    }

    .card-title {
      font-family: $regular;
      font-size: 38px;
      margin-bottom: 18px;
      color: #111;
      line-height: 40px;
      span {
        font-family: $bold;
      }

      @include mediaTo($size1366) {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 14px;
        width: 200px;
      }

      @include mediaTo($size768) {
        font-size: 18px;
      }

      @include mediaTo($size640) {
        font-size: 24px;
        line-height: 28px;
      }
    }

    .card-description {
      font-family: $regularMar;
      color: #737373;
      font-size: 18px;
      line-height: 26px;

      @include mediaTo($size1366) {
        font-size: 16px;
        line-height: 24px;
        max-width: 288px;
        width: 100%;
      }

      @include mediaTo($size640) {
        font-size: 16px;
        line-height: 24px;
      }
    }

    .card-btn {
      display: flex;
      align-items: center;
      background: #6dc719;
      color: #000000;
      font-size: 22px;
      padding: 16px 44px;
      border: none;
      border-radius: 18px;
      cursor: pointer;
      font-family: inherit;
      font-weight: 600;
      transition: background 0.2s;
      margin-top: 35px;
      font-size: 14px;
      line-height: 24px;
      text-transform: uppercase;
      letter-spacing: 2px;

      @include mediaTo($size1366) {
        margin-top: 19px;
        padding: 12px 12px 12px 17px;
        font-family: "montserrat", "montserratarm";
        letter-spacing: 1.82px;
        border-radius: 12px;
        display: flex;
        align-items: center;
      }

      span {
        margin-left: 4px;
        width: 24px;
        display: block;
      }
      @include mediaTo($size640) {
        width: 100%;
        justify-content: center;
        font-size: 12px;
      }
    }
    .card-btn:hover {
      background: #61a527;
    }

    .parent-anim {
      display: flex;
      overflow: hidden;
      border-radius: 18px;
      border-radius: 18px;
    }

    .card-image-block {
      flex: 1 1 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      min-width: 0;
      /* Ensure overflow for scale effect */
      overflow: visible;
      transition: z-index 0.2s;
      position: relative;
      height: 420px;
      z-index: 9999;
      background: white;
      border-top-right-radius: 18px;
      border-bottom-right-radius: 18px;

      transition: scale 0.5s ease;

      img {
        &.mobile-win-image {
          display: none;
        }
        &.web-win-image {
          @include mediaTo($size1366) {
            width: 201px;
          }

          @include mediaTo($size960) {
            width: 225px;
          }
        }
        @include mediaTo($size640) {
          &.mobile-win-image {
            display: block;
          }
          &.web-win-image {
            display: none;
          }
        }
      }

      @include mediaTo($size1366) {
        height: auto;
      }
    }

    .card-image {
      max-width: 420px;
      max-height: 420px;
      width: 100%;
      height: auto;
      border-radius: 0 0 32px 0;
      transition: transform 0.4s cubic-bezier(0.36, 1.92, 0.49, 0.73),
        box-shadow 0.4s;
      will-change: transform;
      display: block;
    }

    .card-image-block:hover .card-image,
    .card-image-block:focus-within .card-image {
      transform: scale(1.07);
      z-index: 2;
    }

    .card:hover {
      .card-image-block {
        scale: 1.1;
      }
    }

    .action-line {
      background: linear-gradient(
        90deg,
        #72bf44 0%,
        rgba(114, 191, 68, 0) 100%
      );
      width: 24px;
      height: 1px;
      margin-left: 10px;
    }
    @include mediaTo($size1366) {
      gap: 32px;
    }

    @include mediaTo($size960) {
      display: grid;
      grid-template-columns: 1fr;
    }
  }

  .bond-stock-info {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 104px;
    height: 182px;

    @include mediaTo($size960) {
      flex-direction: column;
      align-items: start;
      height: auto;
    }
  }

  .info-block {
    display: flex;
    flex-direction: column;
    width: 463px;

    img {
      margin-top: 4px;
      width: 48px;
      @include mediaTo($size768) {
        width: 30px;
      }
    }
    .title {
      font-family: $medium;
      font-size: 22px;
      line-height: 28px;
      margin-top: 16px;

      @include mediaTo($size1366) {
        font-size: 20px;
      }
    }
    .description {
      font-family: $regularMar;
      margin-top: 8px;
      font-size: 18px;
      line-height: 26px;
      color: #737373;
      @include mediaTo($size1366) {
        font-size: 16px;
        margin-top: 4px;
      }
      @include mediaTo($size768) {
        font-size: 14px;
        line-height: 23px;
      }
    }

    @include mediaTo($size1366) {
      width: 100%;
    }
  }

  .middle-border {
    width: 1px;
    height: 222px;
    background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0) 0%,
      #000000 50%,
      rgba(0, 0, 0, 0) 100%
    );
    margin: 0 24px; // space between blocks, adjust as needed
    @include mediaTo($size960) {
      margin: 14px 0;
      height: 2px;
      width: 100%;
      opacity: 0.3;
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 0%,
        #000 50%,
        rgba(0, 0, 0, 0) 100%
      );
    }
  }
}
