.invest-easy-way {
  background: var(--Gray-WEB-UI-100, #f5f5f5);
  position: relative;

  &::before {
    content: "";
    background-image: url("/images/math-left.png");
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    max-width: 780px;
    max-height: 780px;
    border-radius: 50%;
  }

  &::after {
    content: "";
    background-image: url("/images/math-right.png");
    z-index: 2;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    max-width: 780px;
    max-height: 780px;
    border-radius: 50%;
  }

  .invest-easy-way-inner {
    padding: 148px 0 424px 0;
    z-index: 999999;
    position: relative;
    .head-text-block {
      text-align: center;

      .subtitle {
        @extend %subTitleFont;

        color: var(--Brand-500, #72bf44);
        letter-spacing: 3.5px;
        text-transform: uppercase;
        @include mediaTo($size480) {
          font-size: 12px;
          letter-spacing: 3px;
        }
      }

      .title {
        @extend %titleFont;

        span {
          color: var(--Brand-500, #72bf44);
        }

        @include mediaTo($size480) {
          font-size: 28px;
          line-height: 33px;
        }
      }
    }

    @include mediaTo($size480) {
      padding: 48px 0;
    }
  }

  .slider-container {
    position: relative;
    top: -50px;

    @include mediaTo($size1200) {
      top: unset;
    }
  }
  .slick-dots {
    .dots-custom {
      border-radius: 5px;
      width: 50px;
      height: 2px;
      background: var(--Gray-WEB-UI-200, #e5e5e5);
    }

    .slick-active {
      .dots-custom {
        background: var(--Brand-500, #72bf44);
      }
    }
    li {
      width: unset;
      margin: 0 10px;
      height: unset;
    }
  }

  .slick-slide {
    display: flex;
    justify-content: center;

    &:first-child {
      .slider-item-custom {
        transform: rotate(10deg);
        @include mediaTo($size1200) {
          transform: none;
        }
      }
    }

    &:nth-child(2) {
      margin-top: 74.5px;
      transform: rotate(4deg);
      @include mediaTo($size1200) {
        transform: none;
        margin-top: 0;
      }
    }

    &:nth-child(3) {
      margin-top: 74.5px;
      transform: rotate(-4deg);
      @include mediaTo($size1200) {
        transform: none;
        margin-top: 0;
      }
    }

    &:nth-child(4) {
      transform: rotate(-10deg);
      @include mediaTo($size1200) {
        transform: none;
      }
    }

    @include mediaTo($size1200) {
      display: block;
    }
    @include mediaTo($size768) {
      display: flex;
      justify-content: center;
    }
  }

  .slick-track {
    padding: 50px 0 26.86px 0;

    @include mediaTo($size480) {
      padding: 16px 0 24px 0;
    }
  }

  .slider-item-custom {
    border-radius: 24px;
    background: white;
    max-width: 378px;
    .img-part {
      position: relative;
      padding: 8px;
      .why-invest-image {
        width: 100%;
        border-radius: 16px;
      }

      .play-btn {
        display: flex;
        padding: 14px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        background: rgba(255, 255, 255, 0.11);
        position: absolute;
        right: 24px;
        top: 24px;
        @include mediaTo($size1600) {
          padding: 10.63px;
        }

        svg {
          @include mediaTo($size1600) {
            padding-left: 3px;
            width: 14px;
            height: 14px;
          }
        }
      }

      @include mediaTo($size1600) {
        padding: 5.69px 5.69px 0;
      }
    }
    .text-block {
      padding: 16px 8px 24px 24px;
      .title {
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        @include mediaTo($size1600) {
          font-size: 14.229px;
          line-height: 19.921px;
        }

        @include mediaTo($size768) {
          font-size: 16px;
          line-height: 25px;
        }
      }
      .description {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
        opacity: 0.4;

        @include mediaTo($size1600) {
          font-size: 11.383px;
          line-height: 18.498px;
        }

        @include mediaTo($size768) {
          font-size: 13px;
          line-height: 22.5px;
        }
      }
    }
    @include mediaTo($size1600) {
      max-width: 269px;
    }
    @include mediaTo($size768) {
      max-width: 320px;
    }
  }

  .all-videos {
    display: flex;
    justify-content: center;

    button {
      display: flex;
      align-items: center;
      padding: 12px 20px 12px 24px;
      border-radius: 12px;
      border: 2px solid rgba(114, 191, 68, 0.3);
      color: var(--Brand-500, #72bf44);
      font-size: 14px;
      font-style: normal;
      line-height: 35px;
      letter-spacing: 1.82px;
      text-transform: uppercase;
      font-family: $semibold;
      background: var(--Gray-WEB-UI-100, #f5f5f5);

      span {
        padding: 6px;
        margin-left: 4px;
      }
    }
  }
}
