@font-face {
    font-family: 'montserrat';
    font-display: swap;
    src: url('../../fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Montserrat-Regular/Montserrat-Regular.otf')  format('opentype'),
    url('../../fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff'),
    url('../../fonts/Montserrat-Regular/Montserrat-Regular.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat-bold';
    font-display: swap;
    src: url('../../fonts/Montserrat-Bold/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Montserrat-Bold/Montserrat-Bold.otf')  format('opentype'),
    url('../../fonts/Montserrat-Bold/Montserrat-Bold.woff') format('woff'),
    url('../../fonts/Montserrat-Bold/Montserrat-Bold.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat-medium';
    font-display: swap;
    src: url('../../fonts/Montserrat-Medium/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Montserrat-Medium/Montserrat-Medium.otf') format('opentype'),
    url('../../fonts/Montserrat-Medium/Montserrat-Medium.woff') format('woff'),
    url('../../fonts/Montserrat-Medium/Montserrat-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'montserrat-light';
    font-display: swap;
    src: url('../../fonts/Montserrat-Light/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Montserrat-Light/Montserrat-Light.otf') format('opentype'),
    url('../../fonts/Montserrat-Light/Montserrat-Light.woff') format('woff'),
    url('../../fonts/Montserrat-Light/Montserrat-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat-semibold';
    font-display: swap;
    src: url('../../fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff2') format('woff2'),
    url('../../fonts/Montserrat-SemiBold/Montserrat-SemiBold.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Montserrat Armenian family */
@font-face {
    font-family: 'montserratarm';
    font-display: swap;
    src: url('../../fonts/Montserratarm-Regular/Montserratarm-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Montserratarm-Regular/Montserratarm-Regular.otf')  format('opentype'),
    url('../../fonts/Montserratarm-Regular/Montserratarm-Regular.woff') format('woff'),
    url('../../fonts/Montserratarm-Regular/Montserratarm-Regular.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratarm-bold';
    font-display: swap;
    src: url('../../fonts/Montserratarm-Bold/Montserratarm-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Montserratarm-Bold/Montserratarm-Bold.otf')  format('opentype'),
    url('../../fonts/Montserratarm-Bold/Montserratarm-Bold.woff') format('woff'),
    url('../../fonts/Montserratarm-Bold/Montserratarm-Bold.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratarm-semibold';
    font-display: swap;
    src: url('../../fonts/Montserratarm-SemiBold/Montserratarm-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Montserratarm-SemiBold/Montserratarm-SemiBold.otf')  format('opentype'),
    url('../../fonts/Montserratarm-SemiBold/Montserratarm-SemiBold.woff') format('woff'),
    url('../../fonts/Montserratarm-SemiBold/Montserratarm-SemiBold.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'montserratarm-medium';
    font-display: swap;
    src: url('../../fonts/Montserratarm-Medium/Montserratarm-Medium.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Montserratarm-Medium/Montserratarm-Medium.otf') format('opentype'),
    url('../../fonts/Montserratarm-Medium/Montserratarm-Medium.woff') format('woff'),
    url('../../fonts/Montserratarm-Medium/Montserratarm-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratarm-light';
    font-display: swap;
    src: url('../../fonts/Montserratarm-Light/Montserratarm-Light.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Montserratarm-Light/Montserratarm-Light.otf') format('opentype'),
    url('../../fonts/Montserratarm-Light/Montserratarm-Light.woff') format('woff'),
    url('../../fonts/Montserratarm-Light/Montserratarm-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mardoto';
    font-display: swap;
    src: url('../../fonts/Mardoto-Regular/Mardoto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Mardoto-Regular/Mardoto-Regular.ttf')  format('truetype'),
    url('../../fonts/Mardoto-Regular/Mardoto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mardoto-bold';
    font-display: swap;
    src: url('../../fonts/Mardoto-Bold/Mardoto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Mardoto-Bold/Mardoto-Bold.ttf')  format('truetype'),
    url('../../fonts/Mardoto-Bold/Mardoto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'mardoto-medium';
    font-display: swap;
    src: url('../../fonts/Mardoto-Medium/Mardoto-Medium.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Mardoto-Medium/Mardoto-Medium.ttf')  format('truetype'),
    url('../../fonts/Mardoto-Medium/Mardoto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'mardoto-light';
    font-display: swap;
    src: url('../../fonts/Mardoto-Light/Mardoto-Light.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Mardoto-Light/Mardoto-Light.ttf')  format('truetype'),
    url('../../fonts/Mardoto-Light/Mardoto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}


