.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.title {
    font-family: "Montserrat arm";
    font-weight: 600;
}

.mardoto {
    font-family: "Mardoto";
}

ul {
    list-style-type: none;
}