$regular: 'montserratarm';
$light: 'montserratarm-light';
$medium: 'montserratarm-medium';
$semibold: 'montserratarm-semibold';
$bold: 'montserratarm-bold';

$regularMar: 'mardoto';
$lightMar: 'mardoto-light';
$mediumMar: 'mardoto-medium';
$boldMar: 'mardoto-bold';